<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>


   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated DevsEvent -->
      <package
            uri="http://org.tetrabox.example.devs/modelevent/"
            class="org.tetrabox.example.devs.event.devsevent.DevseventPackage"
            genModel="model/DevsEvent.genmodel"/>
   </extension>

</plugin>
