<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.gemoc.execution.cosimulation.javaengine.ui.launcher">
<setAttribute key="SIMULATORS_LAUNCH_CONFIGURATIONS">
<setEntry value="a"/>
<setEntry value="b"/>
<setEntry value="pingpong"/>
</setAttribute>
<mapAttribute key="pingpong">
<mapEntry key="a" value="org.tetrabox.example.devs.connector.DevsConnector"/>
<mapEntry key="b" value="org.tetrabox.example.devs.connector.DevsConnector"/>
</mapAttribute>
</launchConfiguration>
